@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-arias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "a b b"
    "a c c"
    "d d d"
    "e e e"
    "f f f";
}

.seccion-logo {
    grid-area: a;
}

.seccion-usuario{
    grid-area: b;
}

.seccion-fecha {
    grid-area: c;
}

.seccion-descripcion {
    grid-area: d;
}

.seccion-datos {
    grid-area: e;
}

.seccion-social {
    grid-area: f;
}

@media (min-width: 768px) {
    .grid-arias {
        grid-template-areas: 
        "a b c c"
        "a d d d"
        "a e e e"
        "a f f f";
    }
}